@charset "UTF-8";

body {
  font-family: "Poppins-Reg", Helvetica, Arial, sans-serif;
}

header, section, footer{
  padding-right: 50px;
  padding-left: 50px;
  }

/* GENERAL */

.hidden {
  display: none;
}
.visuallyhidden {
  opacity: 0;
}
.overflow > div{
  overflow: hidden;
}

/* FONTS */

@font-face {
  font-family: "Sofia";
  src: url("../assets/fonts/sofiapro-light.otf");
}

@font-face {
  font-family: "Ronnies";
  src: url("../assets/fonts/Ronies.otf");
}

@font-face {
  font-family: "Poppins-Reg";
  src: url("../assets/fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Poppins-Med";
  src: url("../assets/fonts/Poppins-Medium.ttf");
}

.font-18{
  font-size: 18px;
}
.font-24{
  font-size: 24px;
}
a{
  text-decoration: none;
  color:#464646;
}

/* FORMS */

input, textarea{
  padding: 15px;
  font-size: 18px;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  background: #dddddd;
  border: none;
}

form input[type="submit"]{
  width: 100%;
}

footer form input[type="email"]{
  flex-grow: 2;
}
footer form input[type="submit"]{
  flex-grow: 1;
  width: auto;
}
#result{
  padding: 10px 50px;
  border-radius: 10px;
  color: white;
  background-color: #9e9e9e;
  transition: all 1s linear;
  text-align: center;
}

/* BUTTONS */
.btn{
  padding: 15px 40px;
  border-radius: 10px;
  text-decoration: none;
  border: none;
  cursor: pointer;
  width: fit-content;
  text-transform: uppercase;
  transition: background-color .5s;
}

.btn:hover{
  opacity: .6;
  background-color: black;
}

.btn-red{
  background: #df2f26;
  color: white;
}

/* TEXT */
.text-center{
  text-align: center;
}
.text-red{
  color: #df2f26;
}

/* WIDTHS */

.width-100{
  width: 100%
}
.width-80{
  width: 80%
}


/* PADDINGS & MARGINS */

.padding-0{
  padding: 0;
}
.margin-bottom-20{
  margin-bottom: 20px;
}

.margin-bottom-36{
  margin-bottom: 36px;
}

/* FLEX CONTAINERS */

.flex{
  display: flex;
  line-height: 2;
}

.flex-column{
  display: flex;
  flex-direction: column;
}

.flex-center{
  justify-content: center;
  align-content: center;
  align-items: center;
}

.flex-gap{
  display: flex;
  gap: 20px;
}

.flex-gap-2{
  display: flex;
  gap: 40px;
}

.flex-gap-3{
  display: flex;
  gap: 60px;
}

/* FLEX ITEMS */

.flex .flex-item{
  flex:1;
}

/* PARAGRAPHS */

.compressed-p{
  line-height: 1.5;
  margin-bottom: 20px;
}

/* ICONS */
.arrow {
  border: solid rgb(255, 255, 255);
  border-width: 0 3px 3px 0;
  display: inline-block;
  width: 32px;
  padding-bottom: 31px;
  margin-top: -20px;
}

.arrow.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.arrow.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.arrow.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.arrow.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

/* HEADER */

.header{
  min-height: 220px;
  justify-content: space-evenly;
  padding-top: 40px;
}

.header nav{
  border: 2px solid #464646;
  border-right: none;
  border-left: none;
  padding: 30px 0px;
}

nav ul{
  gap:40px
}

nav .flex-item{
  padding: 0px 20px;
  text-align: center;
}

nav li a{
  text-decoration: none;
  color:#464646;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14pt;
}

a:hover, a:active {
  color: #df2f26;
  /* border-bottom: solid 3px; */
  transition: all .10s ease-out;
}

/* SECTIONS */

section.default{
  margin-top: 36px;
  margin-bottom: 36px;
}
section.default > div:first-child{
  padding: 50px 0px 80px;
}
section > div > .title{
  font-size: 30pt;
  margin-bottom: 30px;
  text-align: center;
  line-height: 1.2;
  text-transform: uppercase;
}
section > div > .description{
  width: 50%;
  text-align: center;
  line-height: 1.5;
  font-size: 18pt;
}

/* WELCOME PAGE*/

.welcome-landing{
  justify-content: space-evenly;
  padding: 50px;
}
.welcome-landing .text{
  font-size: 60px;
  line-height: 1;
  padding: 40px 0px 20px;
}

/* HERO */

.hero{
  margin-top: 20px;
}

.hero .hero-text{
  /*! background-color: #d1d1d1; */
  justify-content: center;
  align-content: center;
  padding: 30px;
  font-size: 20px;
}

.hero .hero-text .tagline{
  font-size: 40pt;
  font-weight: bold;
}

.hero .hero-text .tagline{
  line-height: 1.5;
  margin-bottom: 20px;
}

.hero .hero-image img{
  height: 100%;
}

/* PRODUCT VARIATIONS */
.product-variations > div{
  text-align: center;
  line-height: 1.5;
  overflow: hidden;
}
.product-variations > div h3{
  font-size: 22px;
  margin-top: 10px;
}
.product-variations img{
  width: 100%;
}
.product-items{
  width: 80%;
}
.product-items > div{
  margin-bottom: 20px;
}

/* MISION VISION */
.mission-vision {
  padding-top: 40px;
  text-align: center;
}
.mission-vision > div{
  background: #d1d1d1;
  padding: 50px;
}

.mission-vision > div h4{
  font-size: 40px;
  font-weight: bold;
  padding-bottom: 20px;
}

/* DESIGNS TO DELIVER */
.designs-to-deliver > div{
  background-color: #d1d1d1;
  padding: 40px;
  overflow: hidden;
}
.designs-to-deliver > div img{
  margin-bottom: 20px;
  width: 100%;
}

/* ABOUT US */
section.about-us .img-container img{
  width: 100%;
}
section .faq-item{
  border-radius: 10px;
  border: 1px solid gray;
  margin-bottom: 20px;
  width: 70%;
}
section .faq-item > div{
  padding: 20px;
}
section .faq-item > div:first-child{
  background: gray;
  border-radius: 8px 8px 0px 0px;
  color: white;
  font-size: 20px;
  cursor: pointer;
  justify-content: space-between;
  line-height: 1.2;
}
section .faq-item > div:last-child{
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: all 1s ease-in-out;
}

section .faq-item > div:last-child{
  opacity: 1;
  height: fit-content;
  transition: all 1s ease-in-out;
}

/* ADVERTISEMENTS */
.advertisements{
  margin-top: 50px;
  width: 80%;
}

/* CONTACT US */
.contact-us form{
  width:50%;
}
.contact-us .store-hours{
  font-size: 26px;
  text-align: center;
}

/* FOOTER */
footer{
  padding-top: 40px;
  font-size: 18px;
  padding-bottom: 40px;
}
footer > div{
  background-color: #d1d1d1;
  padding: 40px;
}
footer ul {
  column-count: 2;
  margin-top: 40px;
}

/* MOBILE */
@media (max-width: 480px) {

  /* GENERAL: Mobile */
  .hidden-mobile{
    display: none;
  }

  header, section, footer{
    padding-left: 20px !important;
    padding-right: 20px !important;
  }

  section > div > .description,
  section .faq-item, .product-items, .product-items img,
  .advertisements, .contact-us form{
    width: 100%;
  }

  footer{
    background: #d1d1d1;
  }

  footer > div{
    padding: 0;
  }

  /* FLEX CONTAINERS: Mobile */

  .flex.wrap{
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
  }

  .flex.wrap .flex-item {
    flex-basis: 100%;
  }

  .flex-gap-2{
    gap: 0
  }
}
